html {
	height: 100%;
}
body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	background-color: rgb(14, 14, 14);
	color: white;
}
#root {
  width: 100%;
}
.container {
	height: 100%;
}
span.text {
	font-size: 4rem;
	letter-spacing: 1px;
}
.form-control {
	background-color: rgb(14, 14, 14);
}
.clickable {
	cursor: pointer;
}
.input-group-addon {
	background-color: rgb(14, 14, 14) !important;
}
.vertical-center {
	min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
	min-height: 100vh; /* These two lines are counted as one :-)       */
	display: flex;
	align-items: center;
}
.container {
    display: flex;           /* establish flex container */
    flex-direction: column;  /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    align-items: center;     /* center items horizontally, in this case */
    height: 100%;
}

.box {
    text-align: center;     /* will center text in <p>, which is not a flex item */
}